@keyframes chromebg {
    from {
      width: 100%;
      height: 100%;
    }
    to {
      width: 45%;
      height: 100%;
    }
  }
  
  @keyframes headerbg {
    0% {
      transform: rotateZ(0deg);
    }
    25% {
      transform: rotateZ(90deg);
    }
    50% {
      transform: rotateZ(180deg);
    }
    75% {
      transform: rotateZ(270deg);
    }
    100% {
      transform: rotateZ(359deg);
    }
  }
  
  html {
    width: 100%;
    height: 100%;
  }
  
  body {
    height: 160%;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;  }
  
  .container {
    margin: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px) brightness(0.4) contrast(0.5);
  }
  
  .container2 {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: url(src2-2.png);
    background-repeat: no-repeat;
    /*animation-name: chromebg;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;*/
    height: 160%;
    width: 100%;
    box-shadow: inset 0px 0px 600px rgb(0, 0, 0), inset 0px 0px 1000px rgb(40, 216, 172), inset 0px 0px 1200px rgb(40, 216, 172);
  }
  
  h1 {
    margin-top:0;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  h1 .chrometitle {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(chrome.gif);
    background-size: cover;
    background-position: 0 -45px;
  }
  
  h1 .bordertitle {
    color: #4e2493;
  }
  
.mastertitle{
    margin-bottom: 0;
}

  .releases {
    border: 2px ridge white;
    padding: 10px;
    border-radius: 5px;
    width: 95%;
    height: 75px;
    overflow: hidden;
    z-index: 5;
    position: relative;
    cursor: pointer;
  }
  
  .relcontainer {
    z-index: 4;
    position: relative;
  }
  
  .relbg {
    background: url(rels.png);
    background-position: 0 50%;
    width: inherit;
    position: absolute;
    filter: blur(3px);
    height: 100%;
    display: block;
    margin: -20px;
    padding: 100%;
    z-index: 1;
  }
  
  .reltitle {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
    transition: margin-left 2s;
    font-size: 2em;
  }
  
  .relbody {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
    transition: margin-left 2s;
    font-size: 1em;
  }
  
  .releases:hover .reltitle {
    margin-left: 10px;
  }
  /*    
      .chromebg{
      animation-name: headerbg;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-direction: normal;
      animation-iteration-count: infinite;
      background-image: url(./chrome.svg);
      width: 200px;
      height: 200px;
      position: absolute;
      right: 50%;
      left: 50%;
      top: 10%;
      z-index: 100;
      background-size: 100%;
  }*/
  
  font {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .borderbg{
      background: url(border.png);
      filter: blur(3px) brightness(0.4)
  }

  .ninesixbg{
    background: url(win96.png);
    filter: blur(3px) brightness(0.4)
}

  .blurbscontainer{
      width: 25%;
  }



  /*COMPARE IMAGE CODE BEGINS, THANKS W3SCHOOLS*/

  .img-comp-container {
    height: 451.5px; /*should be the same height as the images*/
    position: relative;
    filter: drop-shadow(15px 15px 20px #000);
    transform: translateX(21%);
  }
  
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow:hidden;
    box-sizing: border-box;
  }
  
  .img-comp-img img {
    display:block;
    box-sizing: border-box;
  }
  
  .img-comp-slider {
    position: absolute;
    z-index:9;
    cursor: col-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
    box-sizing: border-box;
  }

  /*COMPARE CODE ENDS*/