@keyframes chromebg {

    from { width: 100%; height: 100%;}
    to { width: 45%; height: 100%;}
    }
    
html{
width: 100%;
height: 100%;
}

    body{
      background: url(src1.png);
      background-size: 123% 123%;
      background-position-y: -19%;
      height: 100%;
      width: 100%;
      margin: 0;
      margin-top: -20px;
      background-position-x: 14%;
    }
    
.container{
    margin: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px) brightness(0.7);
}

    .container2 {
        position: absolute;
        content: '';
        z-index: -1;
        background: url(src2.png);
        background-repeat: no-repeat;
        animation-name: chromebg;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        height: 100%;
        width: 100%;
        animation-iteration-count: infinite;
    }